<html>

<head>
    <link rel="stylesheet" href="dependencies/bootstrap.css">
    <link rel="stylesheet" href="dependencies/visual-sandbox.css">
    <link rel="stylesheet" href="source/<%= visualName %>.css">

</head>

<body>
    <div class="visual-sandbox">
    </div>
    <script src="dependencies/jquery.js"></script>
    <script src="dependencies/bootstrap.js"></script>
    <script src="dependencies/amcharts.js"></script>
    <script src="dependencies/funnel.js"></script>
    <script src="dependencies/gantt.js"></script>
    <script src="dependencies/gauge.js"></script>
    <script src="dependencies/pie.js"></script>
    <script src="dependencies/radar.js"></script>
    <script src="dependencies/serial.js"></script>
    <script src="dependencies/xy.js"></script>
    <script src="dependencies/underscore-min.js"></script>
    <script src="dependencies/d3.js"></script>
    <script src="dependencies/knockout.debug.js"></script>
    <script src="dependencies/hy.js"></script>
    <script src="dependencies/visual-sandbox.js"></script>
    <script src="source/<%= visualName %>.js"></script>
    <script>
        (function () {
            var viewports = [{
                width: "90vw",
                height: "80vh"
            }, {
                width: 640,
                height: 480,
            }, {
                width: 1280,
                height: 720,
            }, {
                width: 800,
                height: 600,
            }]
            initialize("<%= visualName %>", viewports);
        })();

    </script>
</body>

</html>
